img {
  width: 100%;
  border-radius: 20px 0 0 0;
}

.cardholder {
  width: 20%;
  height: 20%;
  background-color: beige;
  margin: 10px;
  box-shadow: 0 10px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.5s;
  border-radius: 20px 0 20px 0;
  display: inline-block;
}

.cardholder div {
  padding: 10px 26px;
}

.cardholder:hover {
  box-shadow: 0 20px 16px 0 rgba(0, 0, 0, 0.2);
}

.namediv {
  display: inline-block;
}

.namediv h4 {
  float: left;
}
.namediv button {
  float: right;
}

.button1 {
  background-color: white;
  color: black;
  border: 2px solid #4caf50;
}

.button1:hover {
  background-color: #4caf50;
  color: white;
}

.button2 {
  background-color: white;
  color: black;
  border: 2px solid #f44336;
}

.button2:hover {
  background-color: #f44336;
  color: white;
}
